# Server Dev Port & Host (for Vite)
PORT=3001
HOST=localhost

# Application Variables (Must have VITE_ prefix)
VITE_API_BASE_URL=http://localhost:8080/api/v1
VITE_APP_ENV=development

# Node Fallbacks
API_BASE_URL=http://localhost:8080/api/v1
APP_ENV=development
NODE_ENV=development