# backend/.env
PORT=3002
HOST=localhost
NODE_ENV=development
API_BASE_URL=http://localhost:8080/api/v1

# Kết nối qua Superuser khi dev/migration
# DATABASE_URL=postgresql://postgres_user:postgres_password@localhost:5432/vimes_inventory

# Kết nối qua App User theo chuẩn Least Privilege khi test security
DATABASE_URL=postgresql://app_user:app_secure_password_2026@localhost:5432/vimes_inventory
