# backend/.env
PORT=3000
HOST=0.0.0.0
NODE_ENV=development

# Kết nối qua Superuser khi dev/migration
# DATABASE_URL=postgresql://postgres_user:postgres_password@localhost:5432/vimes_inventory

# Kết nối qua App User theo chuẩn Least Privilege khi test security
DATABASE_URL=postgresql://app_user:app_secure_password_2026@localhost:5432/vimes_inventory
